@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <h1>Our Awesome Company, LLC <small>Sales Dashboard</small></h1>
    <hr />
    <ng-view></ng-view>
</div>