<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />

    <script type="text/javascript" src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/angular.js"></script>
    <script type="text/javascript" src="~/Content/js/angular-route.min.js"></script>
    <script type="text/javascript" src="~/Content/js/Chart.js"></script>
    <script type="text/javascript" src="~/Content/js/sample.js"></script>
    </style>
</head>
<body ng-app="SampleApp">
    <div>
        @RenderBody()
    </div>
</body>
</html>
